shipstarter-banner {
  background-color: #fff;
  background-position: 50% 0;
  display: block;
  height: 400px;
  margin: 0;
  padding: 0;

  .aui-page-header-main {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
  }

  shipstarter-inline-edit {
    form.aui input.text {
      height: 40px;
    }
  }

  h1, h2 {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  h1 {
    height: 38px;
    text-shadow: 2px 2px #333;
  }
  h2 {
    background-color: #50ade5;
    display: inline-block;
    font-size: 4em;
    padding: 1rem;
  }

  .logo {
    background-image: url(../images/atlassian-logo.svg);
    background-repeat: no-repeat;
    display: inline-block;
    height: 38px;
    margin-right: 0 .5rem;
    text-indent: -9999em;
    vertical-align: 10px;
    width: 175px;
  }

  &.banner-overview {
    background-size: 1280px 400px;
    background-image: url(../images/overview-header-bg.png);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      & {
        background-image: url(../images/overview-header-bg@2x.png);
      }
    }

    h1 {
      margin-top: -2.5rem;
      margin-bottom: .5rem;
    }
  }

  &.banner-project {
    background-image: url(https://unsplash.it/1920/400/?blur&gravity=center&random);
    background-repeat: no-repeat;

    h2 {
      background-color: #fff;
      color: #333;
    }
  }

  .banner-actions {
    margin-top: 1rem;

    .create-project {
      padding-top: 6px;
    }
  }
  .aui-button.aui-button-primary.create-project {
    @btn-green: #67ab49;

    background-color: @btn-green;
    font-size: 1.3em;

    &:hover, &:active {
      background-color: darken(@btn-green, 10%);
    }
  }
}
