shipstarter-tasks-list {
    > ol {
        list-style-type: none;
        list-style-position: inside;
        padding: 0;

        [is="shipstarter-tasks-item"] {
            position: relative;
            display: block;
            background-color: #f5f5f5;
            border-radius: 3px;
            padding: 15px 20px;
            margin-bottom: 20px;

            .shipstarter-tasks-item-title {
                font-weight: bold;
            }

            .shipstarter-tasks-item-desc {
                color: #707070;
            }

            .shipstarter-tasks-pledgee {
                padding-top: 15px;

                .aui-avatar {
                    margin-right: 10px;
                }
            }
        }
    }

    &:not([editable]) {
        #shipstarter-tasks-list-add {
            display: none;
        }

        [is="shipstarter-tasks-item"] {
            -webkit-user-select: none; // Chrome all / Safari all
            -moz-user-select: none; // Firefox all
            -ms-user-select: none; // IE 10+
            user-select: none;

            &::before {
                content: '';
                background: #67ab49;
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 3px;
                z-index: 9000;
                display: block;

                -webkit-transition: opacity 0.1s ease-in;
                transition: opacity 0.1s ease-in;
            }

            &::after {
                content: 'Pledge It!';
                font-size: 1.3em;
                color: #f5f5f5;
                position: absolute;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 9001;

                -webkit-transition: opacity 0.1s ease-in;
                transition: opacity 0.1s ease-in;
            }

            &:hover {
                cursor: hand;
                cursor: pointer;

                &::before {
                    opacity: 0.9;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
        .shipstarter-pledgee-avatar {
            margin-top: 10px;
        }

        [has-pledged="true"]:hover {
            &::before {
                background: #d04437;
            }

            &::after {
                content: 'Unpledge It :(';
            }
        }

    }
}
